---
kind: Secret
apiVersion: v1
metadata:
  name: vxflexos-creds
  namespace: {{ vxflexos_provisioner_namespace }}
type: Opaque
data:
  username: {{ vxflexos_provisioner_username | b64encode }}
  password: {{ vxflexos_provisioner_password | b64encode }}

