apiVersion: v1
kind: Secret
metadata:
  name: powermax-creds
  namespace: {{ powermax_provisioner_namespace }}
type: Opaque
data:
  username: {{ powermax_provisioner_username | b64encode }}
  password: {{ powermax_provisioner_password | b64encode }}